/************************************************************
 * Author: Marios Sofokleous (PictureElement)               *
 * GitHub: https://github.com/PictureElement                *
 * Portfolio: https://pictureelement.github.io/portfolio-2/ *
 * Date: 01.06.2018                                         *
 ************************************************************/

/*
 * Custom fonts
 */

@font-face {
  font-family: "NunitoSans-Light";
  src: url("../fonts/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "NunitoSans-LightItalic";
  src: url("../fonts/NunitoSans-LightItalic.ttf");
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../fonts/NunitoSans-Bold.ttf");
}

/* 
 * Variables
 */

// Colors
$scarlet: rgb(143,16,28);
$scarlet-glassy: rgba(143,16,28,0.7);
$navy: rgb(38,34,98);
$navy-glassy: rgba(38,34,98,0.7);
$red: rgb(190,30,45);
$red-glassy: rgba(190,30,45,0.7);
$cloud: rgb(230,231,232);
$olive: rgb(187,170,40);
$coal: rgb(35,31,32);
$coal-glassy: rgba(35,31,32,0.7);
$snow: rgb(255,255,255);

// Theme colors
$theme-colors: (
  "primary": $red,
  "primary-glassy": $red-glassy,
  "warning": $olive,
  "danger": $scarlet,
  "danger-glassy": $scarlet-glassy,
  "dark": $coal,
  "dark-glassy": $coal-glassy,
  "light": $cloud,
  "success": $navy,
  "success-glassy": $navy-glassy,
  "info": $snow
);

// Body
$body-bg: #777;
$body-color: #fff;

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 4)
), $spacers);

// Fonts
$font-family-sans-serif: 'NunitoSans-Regular', sans-serif;
$font-size-base: 1rem;
$lead-font-size: ($font-size-base * 1.75);
$small-font-size: ($font-size-base * 0.65);         
$display1-size: 3.8rem;
$display2-size: 3.2rem;
$display3-size: 1.5rem;
$display1-weight: initial;
$display2-weight: initial;
$display3-weight: initial;

// Navbar
$navbar-padding-y: 1.5rem;
$navbar-nav-link-padding-x: 1.5rem;

// Buttons
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 4rem;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid container (max width)
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

// Options
$enable-shadows: true;

// Cards
$card-border-radius: 20px;
$card-deck-margin: 0.75rem;
$card-spacer-y: 1.8rem;
$card-spacer-x: 2rem;

// Grid columns
$grid-gutter-width: 30px;

/*
 * Include all of Bootstrap
 */

@import "../node_modules/bootstrap/scss/bootstrap";

/*
 * Helper classes
 */

.font300 {
  font-family: 'NunitoSans-Light', sans-serif;
}

.font300i {
  font-family: 'NunitoSans-LightItalic', sans-serif;
}

.font400 {
  font-family: 'NunitoSans-Regular', sans-serif;
}

.font700 {
  font-family: 'NunitoSans-Bold', sans-serif;
}

/*
 * General 
 */

html, body {
  height: 100%;
  width: 100%;
}

/*
 * Header 
 */

header {
  position: relative;
  height: 100%;
  overflow: hidden;
  .header-media {
    height: 100%;
    overflow: hidden;
    .header-video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .header-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: ($font-size-base * 5);
  }
  .header-services {
    position: absolute;
    top: 87%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.header-service {
  .header-service-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    cursor: pointer;
    .header-service-icon {
      background-color: map-get($theme-colors, primary);
      border: none !important;
    }
    .header-service-description {
      color: map-get($theme-colors, primary);
    }
  }
}

/*
 * About
 */

.about {
  padding: 6.5rem 0;
  // Background image with color overlay
  background: linear-gradient(0deg, map-get($theme-colors, danger-glassy), map-get($theme-colors, danger-glassy)), url('../media/about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 10px solid map-get($theme-colors, info);
}

/*
 * Consultancy
 */

.consultancy {
  border-right: 10px solid map-get($theme-colors, info);
  border-top: 10px solid map-get($theme-colors, info);
  padding: 5.7rem 0;
  // Background image with color overlay
  background: linear-gradient(0deg, map-get($theme-colors, success-glassy), map-get($theme-colors, success-glassy)), url('../media/consultancy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .card-body, .card-footer {
    max-width: 690px;
    margin: 0 auto;
  }
}

/*
 * How it works
 */

.how-it-works {
  border-top: 10px solid map-get($theme-colors, info);
  padding: 5.7rem 0;
  // Background image with color overlay
  background: linear-gradient(0deg, map-get($theme-colors, success-glassy), map-get($theme-colors, success-glassy)), url('../media/how-it-works.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .card-body, .card-footer {
    max-width: 690px;
    margin: 0 auto;
  }
}

/*
 * Special offers
 */

.special-offers {
  border-top: 10px solid map-get($theme-colors, info);
  padding: 6rem 0 9.5rem 0;
}

.special-offers-btn {
  margin-bottom: 6.9rem;
  a {
   padding: 0.2rem 2.65rem;
   border-radius: 20px;
   font-size: ($font-size-base * 1.85);
  }
}

.card-price {
  padding: 1rem 0 1rem 2.5rem;
  font-size: ($font-size-base * 1.5);
}

/*
 * Templates
 */

.templates {
  border-top: 10px solid map-get($theme-colors, info);
  padding: 7.5rem 0;
  // Background image with color overlay
  background: linear-gradient(0deg, map-get($theme-colors, dark-glassy), map-get($theme-colors, dark-glassy)), url('../media/templates.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*
 * Footer
 */

footer {
  padding: 5.4rem 0;
}

.footer-main {
  margin-top: 5.4rem;
}

.footer-discount {
  border: 1px dashed white;
  padding: ($spacer * 1.2) ($spacer * 2.25);
  position: relative;
  img {
    position: absolute;
    top: -14px;
  }
}

.footer-discount-value {
  font-size: $font-size-base * 1.5;
}

/*
 * Media queries (Desktop-first approach)
 */

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .consultancy {
    border-right: none;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  html {
    font-size: 0.8rem;
  }
}